[user]
    name = rito528
    email = 39003544+rito528@users.noreply.github.com
    signingkey = F4022307254812F8
[gpg]
    program = gpg
[commit]
    gpgsign = true
[init]
    defaultBranch = main
[core]
    editor = vim
    excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
    hooksPath = ~/.config/git/hooks
[credential "https://github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential
[push]
    autoSetupRemote = true
